<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Demo !!</h1>
    <% if (!username) { %>
        <p><a href="/login">Social login</a></p>
    <% } else { %>
        <p>Welcome, <%= username %> !!</p>
    <% } %>
</body>
</html>